{% extends "POLCarnetBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block polcarnet_body %}
  {% if app.user %}
    <h2>Ajouter un contact </h2>
    {{ form(form) }}
  {% else %}
  <p> Vous devez vous connecter pour utiliser le service </p>
  {% endif %}
{% endblock %}
